body {
    font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #666;
}

.editor-styles-wrapper p {
    font-size: 18px;
    line-height: 1.5;
}

.wp-block {
    max-width: 1166px;
}

/* Gutenberg styling examples: https://css-tricks.com/styling-the-gutenberg-columns-block */

/*
.wp-block-columns {
   display: flex;
   margin: 20px 0;
}

.wp-block-column {
    flex: 1;
    margin: 0 20px;
}

@media (max-width: 764px) {
    .wp-block-columns.has-3-columns {
        flex-flow: row wrap;
    }

    .has-3-columns .wp-block-column:first-child {
        flex-basis: 100%;
    }
}

@media (max-width: 478px) {
    .wp-block-columns.has-3-columns {
        display: block;
    }

    .wp-block-column {
        margin: 20px 0;
    }
}
*/
