/* Sections */

.section {
    position: relative;
    width: 100%;
    padding: 4rem 0;
    color: inherit;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &.bg-pos--top-center {
        background-position: top center;
    }

    &.section--sm {
        padding: 3rem 0;
    }

    &.section--lg {
        padding: 6rem 0;
    }

    @include media-breakpoint-down(md) {
        padding: 2.5rem 0;

        &.section--sm {
            padding: 2rem 0;
        }

        &.section--lg {
            padding: 4rem 0;
        }
    }
}


// 

// about section main page
.quote-element{
    background-color: $primary;
    height: 30px;
    width: 30px !important; 
    color: $white;

}
.section-about{
    // background-color: red;
    .review{
        background-color: $warning;
    }
}

.carousel-control-prev,.carousel-control-next{
    background-color: red;
    span{
        color:$primary !important;
    }
}