.spruce-footer {

    h2{
        font-size: 3rem;
        font-weight: bolder;
    }

    h3{
        font-size: 2rem;
    }

    h2,h3{
    color: $white !important;

    }
    p {
        font-size: .7rem;
        margin: 0;
        @include media-breakpoint-down(lg) {
            font-size: 1.2rem;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.1rem;
        }
    }

    
    .btn{
        color: $white;
        border: 1px solid $white;
        border-radius: 0%;
    }

   
}




.spruce-copyright {
    border-top: .5px solid $white;
    a {
        color: $white;
        font-size: .7rem;

    }

}